.contactSummary {
  height: var(--size-88);
  width: 100%;
  background-color: var(--color-tertiary); 
  margin-bottom: 2rem;
}

.contactSummary h2,
.contactSummary p,
.btn {
  float: right;
}

.contactSummary h2,
.contactSummary p,
.image {
  width: 40%;
  display: inline-flex;
}

.contactSummary h2 {
  font-size: var(--size-6);
  margin: var(--size-16) var(--size-40) var(--size-8);
}

.contactSummary p {
  font-size: var(--size-4);
  margin: var(--size-1) var(--size-40) var(--size-1) var(--size-40);
  justify-content: flex-start;
  text-align: justify;
  text-justify: inter-word;
}

.btn {
  position: absolute;
  width: 15%;
  height: 3rem;
  margin-top: 250px;
  right: 150px;
}

.image {
  height: var(--size-80);
  position: absolute;
  margin-top: 10px;
  left: 150px;
  float: left;
}
