@import url('https://fonts.googleapis.com/css2?family=Carme&family=Roboto:wght@300&display=swap" rel="stylesheet');

html,
body {
  --color-grey-50: hsl(265, 55%, 96%);
  --color-grey-100: hsl(265, 19%, 88%);
  --color-grey-200: hsl(265, 7%, 70%);
  --color-grey-300: hsl(265, 6%, 66%);
  --color-grey-400: hsl(265, 4%, 57%);
  --color-grey-500: hsl(265, 3%, 53%);
  --color-grey-600: hsl(265, 4%, 42%);
  --color-grey-700: hsl(265, 4%, 31%);
  --color-grey-800: hsl(276, 5%, 20%);
  --color-grey-900: hsl(280, 5%, 13%);

  --color-primary: #d2b5a7;
  --color-secondary: #a7d2cb;
  --color-secondary-tone: #abcec8;
  --color-secondary-tint-1: #cae4e0;
  --color-secondary-shade-1: #4d968a;
  --color-secondary-shade-2: #75b8ae;
  --color-secondary-tone-1: #b0c9c5;
  --color-tertiary: #d2a7c4;

  --color-success-100: #a2f0bc;
  --color-success-500: #12bd4b;

  --color-error-100: #f1acc9;
  --color-error-500: #a10c4a;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-4h: 1.125rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-16: 4rem;
  --size-16a:4.5rem;
  --size-20: 5rem;
  --size-40: 10rem;
  --size-80: 20rem;
  --size-88: 22rem;
  --size-96: 25rem;
  --size-102: 28rem;

  padding: 0;
  margin: 0;
  font-family: 'Carme', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

h1,
h2,
h3 {
  font-family: 'Carme', 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  font: inherit;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  margin-top: auto;
}

header {
  width: 100%;
  height: 4rem;
  background-color: var(--color-grey-100);
  display: flex;
  border: black;
  justify-content: space-around;
  align-items: center;
}