.post {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  /* background-color: var(--color-grey-800); */
  text-align: center;
  display: relative;
}

.image {
  width: 100%;
  max-height: 20rem;
  overflow: hidden;
  /* display: absolute; */
}

.image:hover {
  opacity: 0.5;
  cursor: pointer;
}

.image h3 {
  /* display: absolute; */
  background-color: var(--color-grey-300);
  height: 20rem;
  margin: var(--size-2) 0;
  font-size: var(--size-6);
}

.content {
  padding: var(--size-4);
}

.content h3 {
  margin: var(--size-2) 0;
  font-size: var(--size-4);
}

/* .content:hover {
  cursor: pointer;
} */

.content button {
  font: inherit;
  cursor: pointer;
  background-color: var(--color-secondary-shade-1);
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem; 
}

.content .button {
  /* border: 1px solid #5a1a01; */
  /* background-color: #5a1a01; */
  color: white;
}
